body{
    font-family:Arial, sans-serif;
    margin:0;
    padding:0;
    background-color: #f4f4f4;
}
 header{
    background-color: #3c6e47;
    color:white;
    padding: 2px;
    text-align: center;
 }

nav a {
    color:white;
    margin:0 15px;
    text-decoration: none;

}
footer{
    background-color: #3c6e47;
    color:white;
    text-align:center;
    padding:10px;
    position:fixed;
    width:100%;
    bottom:0;
}